/* VIDEO BACKGROUND */
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* OVERLAY GELAP */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* KONTEN DI ATAS VIDEO */
.container {
  position: relative;
  z-index: 1;
}
